body {
    background-color: rgb(0, 190, 190);
}

p {
    font-size: 50px;
    color: gold;
}
.e1{
    font-family: cursive;   
}

.e2 {
   font-family: "Handjet", sans-serif;
   text-transform: uppercase;
}

.e3 {
    font-family: "Pattaya", sans-serif;
    text-transform: lowercase;

}

.e4 {
    font-family: "Press Start 2P", system-ui;
    text-transform: capitalize;
}

.e5 {
    font-family: "Rubik Broken Fax", system-ui;
}

.e6 {
    font-family: "Kablammo", system-ui;
}
.e7 {
    font-family: "Caveat", cursive;
}

.e8 {
    font-family: "Rubik Glitch Pop", system-ui;
}

.e9 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-underline-position: under;
}

.e10 {
    text-shadow:  3px -3px 15px rgb(255, 166, 0);
}

.e11 {
    text-shadow: 3px 3px crimson, 4px 4px 10px forestgreen ;
    font-weight: 600;
}

.e12 {
    text-shadow:  0 0 20px rgb(59, 117, 0);
}
.e13 {
    text-shadow: 3px 3px crimson, 4px 4px 10px forestgreen ;
    font-family: "Pattaya", sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: blueviolet;
}